@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
:root {
    --color-background: white;
    --color-elements: black;
    --color-opaque: rgba(0, 0, 0, 0.5);
    --color-holiday: red;

    --font-standart: "Yuji Boku", sans-serif;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-standart);
    width: 300px;
}

.form {
    display: flex;
}

.form__btn {
    padding: 0;
    border: none;
    background-color: var(--color-background);
    margin: 0;
}

.form__btn:hover {
    cursor: pointer;
}

.form__icon {
    height: 2rem;
    padding: 0;
    padding-top: 0.2rem;
    margin: 0;
    background-color: var(--color-background);
}

.month-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-xs) 0;
}

.month-panel__btn {
    background-color: var(--color-background);
    height: 2.5rem;
    border: none;
}

.month-panel__btn:hover {
    cursor: pointer;
}

.month-panel__arrow--left {
    width: 0; 
    height: 0; 
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent; 
    border-right: 0.8rem solid var(--color-elements); 
}

.month-panel__arrow:hover {
    transform: scale(1.1);
}

.month-panel__arrow--right {
    width: 0; 
    height: 0; 
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 0.8rem solid var(--color-elements);
}

.month-panel__selected-month {
    font-size: 1.8rem;
    margin: 0;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.calendar__weekdays {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 3px solid var(--color-elements);
    padding-bottom: var(--spacing-xs);
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1px;
    font-size: 1.6rem;
    background-color: var(--color-elements);
}

.calendar__days span {
    background-color: white;
    width: 100%;
}

span.calendar__weekend {
    color: var(--color-holiday);
}

span.calendar__another-month {
    color: var(--color-opaque);
}

