:root {
    --tooltip-bg: black;
    --tooltip-color: white;
    --tooltip-width: 120px;
    --transition-duration: 0.25s;
    --border-radius: 6px;
    --standard-padding: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.page {
    display: flex;
}

.page__nav {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding-top: 30px;
}

.tooltip {
    width: var(--tooltip-width);
    background-color: var(--tooltip-bg);
    color: var(--tooltip-color);
    border-radius: var(--border-radius);
    text-align: center;
    padding: var(--standard-padding);
}

.tooltip-home {
    position: absolute;
    top: 120%;
    left: 50%;
    margin-inline-start: -60px;

    visibility: hidden;
    opacity: 0;
    transition: visibility var(--transition-duration) linear,
                opacity var(--transition-duration) linear;
}

.tooltip-home::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-inline-start: -5px;
    border-width: var(--standard-padding);
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.navbar__item:hover .tooltip-home {
    visibility: visible;
    opacity: 1;
}

.tooltip-projects {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-inline-start: -60px;

    visibility: hidden;
    transform: scale(0);
    transition: visibility var(--transition-duration) linear,
                transform var(--transition-duration) linear;
}

.tooltip-projects::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-inline-start: -5px;
    border-width: var(--standard-padding);
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.navbar__item:hover .tooltip-projects {
    visibility: visible;
    transform: scale(1);
}

.tooltip-blog {
    position: absolute;
    top: calc(-50% - 105px);
    right: 120%;
    margin-inline-start: -60px;

    visibility: hidden;
    opacity: 0;
    transition: visibility var(--transition-duration) linear,
                transform var(--transition-duration) linear,
                opacity var(--transition-duration) linear;
}

.tooltip-blog::after {
    content: " ";
    position: absolute;
    left: 104%;
    bottom: calc(50% - var(--standard-padding));
    margin-inline-start: -5px;
    border-width: var(--standard-padding);
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.navbar__item:hover .tooltip-blog {
    visibility: visible;
    transform: translateY(100px);
    opacity: 1;
}

.navbar__item {
    position: relative;
}
