:root {
    --spacing: 15px;
}

.page {
    width: 100vw;
}

.page__title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-areas: 
        "1 3 5"
        "1 4 5"
        "2 4 6";
    width: 100%;
}

.page__image {
    width: 200px;
}

.page__image--1 {
    grid-area: "1";
}

.page__image--2 {
    grid-area: "2";
}

.page__image--3 {
    grid-area: "3";
}

.page__image--4 {
    grid-area: "4";
}

.page__image--5 {
    grid-area: "5";
}

.page__image--6 {
    grid-area: "6";
}