@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --cookies-background-color: black;
  --cookies-text-color: white;

  --text-font: "Funnel Sans", sans-serif;
  --header-font: "Funnel Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page {
  position: relative;
  width: clamp(40vw, 350px, 80vw);
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: var(--text-font);
}

.header__title,
.main__title {
  text-align: center;
  padding-top: 2rem;
}

.header__title,
.main__title,
.main__subtitle {
  font-family: var(--header-font);
}

.cookies {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: var(--cookies-background-color);
  color: var(--cookies-text-color);
  border-radius: 10px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 250px;

  z-index: 1;
}

.cookies__icon {
  width: 50px;
  align-self: flex-start;
}

.cookies__close-btn {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  display: inline-block;
}
.cookies__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.cookies__close-btn:before,
.cookies__close-btn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 16px;
  width: 2px;
  background-color: white;
}
.cookies__close-btn:before {
  transform: rotate(45deg);
}
.cookies__close-btn:after {
  transform: rotate(-45deg);
}

.cookies__message {
  font-size: large;
  text-align: center;
}

.cookies__confirm-btn {
  background-color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

.cookies__confirm-btn:hover {
  cursor: pointer;
  background-color: #f3f4f5;
}

.cookies__confirm-btn:active {
  background-color: var(--cookies-background-color);
  color: var(--cookies-text-color);
}
