@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: whitesmoke;
    --text-color: #030303;
    --date-color: grey;

    --text-font: "Raleway", sans-serif;
    --header-font: "Roboto", sans-serif;
    --base-font-size: 1.6rem;
    --line-height: 1.6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    font-family: var(--text-font);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
}

h1 {
    text-align: center;
    font-family: var(--header-font);
    font-size: 3.6rem;
    margin-top: 3.6rem;
    margin-bottom: 1rem;
}

.subheader {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2.4rem;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.date p {
    font-weight: 400;
    text-align: right;
}

.grid-border {
    width: 2px;
    justify-self: center;
    border-left: 2px solid black;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 8px;
    left: -7px
}

.message p {
    text-align: left;
    font-weight: 600;
}

.hidden {
    visibility: hidden; 
}

.flex-button {
    margin-top: 2rem;;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.flex-button button {
    width: 125px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-family: var(--text-font);
}

.flex-button button:active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.flex-button button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.flex-button button:focus {
    outline: 1px solid blue;
}